*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}
.mobile{
    display: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    height: 65px;
    width: 96%;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
}
.intro{
    margin: 10px 20px;
}
.intro ul{
    list-style: none;
    display: flex;
    cursor: pointer;
    gap: 10px;
}
.intro li {
    padding: 8px 10px;
}

.icons{
    margin: 10px 30px;
}
.icons ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    cursor: pointer;
}
.icons ul li:hover, .intro ul li:hover{
    background: antiquewhite;
    color: black;
    border-radius: 8px;
}
.icons ul li img{
    width: 35px;
}
.icons ul li select{
    width: 55px;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    font-size: 18px;
}
.icons ul li button{
    background: #1a98ffcc;
    color: white;
    height: 40px;
    width: 120px;
    font-size: 18px;
    padding: 7px;
    border-radius: 10px;
    text-transform: bold;
    cursor: pointer;
}

.opening{
    display: flex;
    background-image: url(./images/section1bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.opening-text{
    width: 50%;
    background-color: black;
    padding: 5px 0 0 65px;
    box-shadow: 20px 0 20px 20px black;
}
.opening-text h1{
    font-size: 40px;  
    margin: 60px 0;  
}
.opening-text h3{
    font-size: 20px;  
    margin: 30px 0;  
}
.line{
    display: flex;
    width: 350px;
    align-items: center;
}
.line::before, .line::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
}
.line::before {
    margin-right: 10px;
}
.line::after {
    margin-left: 10px;
}
.line span {
    font-size: 18px;
}
.opening-text button{
    font-size: 20px;  
    width: 350px; 
    height: 70px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 15px 0;
    cursor: pointer;
}
.opening-text button:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
.info{
    background-image: url(images/info.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
}
.info-text{
    width: 49%;
    background-color: black;
    padding: 0 75px 0 10px;
     box-shadow: 20px 20px 20px 40px black;
}
.info-text h1{
    font-size: 50px;  
    margin: 70px 0;
}
.info-text h3{
    font-size: 20px;  
    margin: 60px 0;  
}
.info-text button{
    font-size: 20px;  
    width: 250px; 
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    margin: 25px 0;
    cursor: pointer;
}
.info-text button:hover{
    transform: scale(1.08);
    transition: 0.8s;
}
section{
    background: linear-gradient(black, #011201);
    padding-bottom: 15px;
}
.three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 70px auto;
    width: 96%;
}
section div{
    padding: 0 10px;
}
section div img{
    border-radius: 10px;
    width: 70%;
    display: block;
    margin: 10px auto;
}
section div h2{
    font-size: 30px;
    text-align: center;
    margin: 40px 0;
}
section div p{
    font-size: 19px;
    text-align: left;
}
.info-2{
    background-image: url(images/download.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
}
.info-text-2{
    width: 49%;
    background-color: black;
     padding: 5px 0 0 65px;
    box-shadow: 20px 0 20px 20px black;
}
.info-text-2 h1{
    font-size: 50px;  
    margin: 70px 0;
}
.info-text-2 h3{
    font-size: 20px;  
    margin: 45px 0;  
}
.info-text-2 button{
    font-size: 20px;  
    width: 250px; 
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    margin: 25px 0;
    cursor: pointer;
}
.info-text-2 button:hover{
    transform: scale(1.08);
    transition: 0.8s;
}
.empty{
    height: 100px;
}
footer{
    background-color: #222222;
    padding: 30px 0;
}
.end img{
    width: 150px;
    display: block;
    margin: 0 auto;
}
.end ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}
.end ul a{
    text-decoration: none;
    color: #79b8f3;
}
.end ul a:hover{
    cursor: pointer;
}
.end p{
    color: #8197a4;
    text-align: center;
    margin-top: 10px;
}

/* Responsiveness */
@media screen and (max-width: 880px) {
    .navbar {
        display: none;
    }
    .mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        height: 65px;
        width: 96%;
        border-radius: 0 0 15px 15px;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        position: sticky;
        top: 0;
    }
    .mobile select {
        margin: 0 10px;
        width: 70px;
        color: white;
        border: none;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        font-size: 18px;
    }
    .mobile a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .iconss ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }
    .iconss ul li:hover, .intro ul li:hover{
        background: antiquewhite;
        color: black;
        border-radius: 8px;
    }
    .iconss ul li img{
        width: 35px;
        margin: 0 15px;
    }
    .iconss ul li select{
        width: 55px;
        color: white;
        border: none;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        font-size: 18px;
    }
}

@media screen and (max-width: 780px) {
    .opening{
        flex-direction: column-reverse;
    }   
    .opening-text{
        width: 100%;
        height: 54%;
        padding: 10px;
    }
    .opening-text h1{
        font-size: 30px;  
        margin: 14px 0;  
    }
    .opening-text h3{
        font-size: 18px;  
        margin: 10px 0;  
    }
    .line{
        display: flex;
        width: 97%;
        align-items: center;
    }
    .line::before, .line::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid white;
    }
    .line::before {
        margin-right: 15px;
    }
    .line::after {
        margin-left: 15px;
    }
    .line span {
        font-size: 18px;
    }
    .opening-text button{
        font-size: 15px;  
        width: 97%; 
        height: 50px;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 15px 0;
        cursor: pointer;
    }
    .opening-text button:hover{
        transform: scale(1.02);
        transition: 0.5s;
    }

    .info {
        flex-direction: column;
        background-position: 24%;
    }
    .info-text{
        width: 100%;
        padding: 10px;
    }
    .info-text h1{
        font-size: 30px;  
        margin: 23px 0;
    }
    .info-text h3{
        font-size: 15px;  
        margin: 16px 0;  
    }
    .info-text button{
        font-size: 15px;  
        width: 97%; 
        height: 50px;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 15px 0;
        cursor: pointer;
    }
    .info-text button:hover{
        transform: scale(1.02);
        transition: 0.5s;
    }
    .three{
        display: block;
        margin: 5px auto;
    }
    section div {
        margin: 80px 0;
    }
    section div h2{
        margin: 10px 0;
    }
    .info-2 {
        flex-direction: column-reverse;
    }
    .info-text-2{
        width: 100%;
        height: 45%;
        padding: 10px;
    }
    .info-text-2 h1{
        font-size: 30px;  
        margin: 23px 0;
    }
    .info-text-2 h3{
        font-size: 15px;  
        margin: 16px 0;  
    }
    .info-text-2 button{
        font-size: 15px;  
        width: 97%; 
        height: 50px;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 15px 0;
        cursor: pointer;
    }
    .info-text-2 button:hover{
        transform: scale(1.02);
        transition: 0.5s;
    }
    .empty{
        height: 0;
    }
}